<h1>Stupid Coaching</h1>

<div class="box">
  <p> <%= params[:question] %> </p>
  <p> - You</p>
</div>

<div class="box active">
  <p> <%= @answer %> </p>
  <p> - Your coach</p>
</div>

<p><%= link_to "Ask a new question!!", ask_path %></p>
